.card {
	position: relative;
    color: var(--clr-neutral-100);
    /* background-image: url("../../img/cyberpunk.jpg"); */
    background-size: cover;
    background-position: center;
	line-height: 1.6;
    /* padding: 10rem 0 0; */
	margin: 2rem 0;
	height: 420px;
	max-width: 35ch;
	width: 35ch;
    
    border-radius: 0.5rem;
    overflow: hidden; /* Pour que le border-radius s'applique bien en-dessous de la card car son contenu a des dimensions supérieurs et ressort */

    transition: transform 500ms ease;
	animation: apparition 1s ease;
}


.card:hover,
.card:focus-within {
    transform: scale(1.05);  /* Si l'on survole la card ou si quelque chose est focus dedans (pour la navigation au clavier) */ 
}

.card-content {
	--hauteurTitre: 0px;
    --padding: 1.5rem;
	position: absolute;
	bottom: 0;
	max-width: 35ch;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3) 20% , hsl(0 0% 0% / 1)); /* Filtre au niveau du texte */
}

.card-title {
    position: relative;
    width: max-content; /* Pour que la div prenne la même largeur que le contenu */
    max-width: 100%;    /* Pour que la div ne sorte pas de la card si le contenu est plus long que la carte */
}

.card-title::after {
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1); /* Pour le placer pile sur le bord de la carte en fonction du padding (-1 pour aller vers le bord) */
    bottom: -2px;
    height: 4px;
    width: calc(100% + var(--padding)); /* Pour que la largeur soit toujours adaptée au padding et que la ligne atteigne le bout de la phrase */ 
	max-width: 276.8px;
    background: var(--clr-accent-400);

    transform-origin: left;
    transition: transform 500ms ease; /* Pour que le pseudo-élement ::after "charge" et que l'animation commence de la gauche pour aller vers la droite */

}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);           /* Quand je suis au-dessus de ma carte, je sélectionne le pseudo-élément ::after */ 
}

.card-body {
    color: rgb(255 255 255 / 0.8);
}

@media (hover) {                /* Cette media query permet de ne pas faire fonctionner toutes ces propriétés si nous sommes sur un "touch-device", qui n'a pas de pointeur. La carte apparaîtra alors avec son état final */
    .card-content {
        transform: translateY(calc(100% - var(--hauteurTitre)));
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;  /* L'animation commencera une fois que la barre aura chargée */
    }

    .card:focus-within .card-content { /* Overwritting pour corriger un bug si l'on navigue au clavier qui délayait bizarrement les animations */
        transition-duration: 0ms;
    }

    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card:focus-within .card-content > *:not(.card-title) { /* Overwritting pour accélérer la transition si l'on navigue au clavier */
        transition-delay: 0ms;
    }

    .card-content > *:not(.card-title) {    /* Tous les enfants directs de card-content sauf le titre */
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.card .card-content .button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.card .card-content .button:hover,
.card .card-content .button:focus {
    background-color: var(--clr-neutral-100);
}

@media (prefers-reduced-motion: reduce) {   /* Media query si la personne a souhaité réduire les animation dans son système */
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

.card .card-content .platforms-container {
	position: absolute;
	bottom: 30px;
	display: inline-flex;
	width: 35%
}

.card .card-content img {
	width: 30px;
	margin-left: 5px;
	border-radius: 100%;
}
.card .card-content .platforms-container .reste-plateformes {
	border-radius: 100%;
	background-color: #181818;
	color: white;
}

.card .card-content .platforms-container .reste-plateformes div {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 30px;
	font-size: 1rem;
	font-weight: bold;
}